/* Font family css */

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Josefin+Sans&family=Marcellus+SC&family=Montserrat:wght@400;500&family=Raleway:wght@400;500&display=swap');
.text-style {
  font-family: 'Montserrat', sans-serif;
}

.text-Marcellus {
  font-family: 'Marcellus SC', serif;
}

.text-Encode {
  font-family: 'Encode Sans SC', sans-serif;
}

.text-Raleway {
  font-family: 'Raleway', sans-serif;
}

.text-Josefin {
  font-family: 'Josefin Sans', sans-serif;
}

/* ended */